body {
  background-color: rgba(244, 244, 244);
}
.container-body {
  border-radius: 70px;
  max-width: 1000px;
  display: block;
  margin: 50px auto 10px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
}

h1 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  color: rgb(6, 17, 60);
}

h2 {
  text-transform: capitalize;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  color: rgb(6, 17, 60);
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
form {
  max-width: 780px;
  margin: 0 auto;
  background-color: rgb(221, 221, 221, 0.2);
  border-radius: 60px;
  padding: 10px 20px;
  margin-bottom: 55px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: rgb(120, 122, 145);
}
button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
#current-degree {
  font-size: 120px;
  color: rgb(255, 140, 50);
}
#current-description {
  text-transform: capitalize;
}
.container-weather-info {
  margin: 0 auto;
  max-width: 700px;
}

.city-info {
  text-align: left;
}
.degree-info {
  margin-top: 15px;
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
.weather-additional-info {
  position: relative;
  left: -90px;
  top: 90px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: rgb(120, 122, 145);
}
#search-input {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 16px;
  width: 90%;
}
#search-button {
  border-radius: 50%;
  border: 0;
}
#current-location-button {
  border-radius: 50%;
  border: 0;
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
  color: rgb(236, 153, 75);
  position: relative;
  top: -72px;
  font-weight: 300;
}
footer {
  font-size: 14px;
  color: rgb(6, 17, 60);
  margin-left: 300px;
}

.weather-forecast {
  text-align: center;
  margin: 30px auto 35px;
  max-width: 760px;
  display: block;
}
.forecast-day,
.forecast-degree-max {
  font-family: "Rubik", sans-serif;
  color: rgb(6, 17, 60);
}
.forecast-degree-min {
  font-family: "Rubik", sans-serif;
  color: rgb(120, 122, 145);
}
